.addFanPage-container{
    display: flex;
    text-align: center;
    margin-top: 240px;
    padding: 10px 0;
    border: 1px solid black;
    border-radius: 0px 100px 100px 0px;
    background-color: #222222;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.541);
    animation: addFanPageAnimation 1s cubic-bezier(0, 0.18, 0.57, 0.9);
    opacity: 1;
    transition: opacity 2s;
  }
  .addFanPage-container-return{
    animation: addFanPageAnimation-return 1s ease;
  }
  @keyframes addFanPageAnimation-return {
    from{
      transform: translateX(0px);
    }
    to{
      transform: translateX(-500px);
    }
  }
  @keyframes addFanPageAnimation {
    from{
      transform: translateX(-500px);
    }
    to{
      transform: translateX(0px);
    }
  }
  .addFanPage-container-btn{
    align-self: center;
  }
  .quitAddFanPage-icon{
    color: white;
    transition: color .2s ease-in;
  }
  .quitAddFanPage-icon:hover{
    color: #000000;
  }
  .quitAddFanPage-btn{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-right: 20px;
  }