.fw-card{
  display: flex;
  justify-content: center;
  background-color: #242526;
  width: 100%;
  transition: 0.5s text-shadow;
}
.fw-card:hover{
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
}
.follower-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.grid-AddFanPage-section{
  justify-self: start;
}
.fw-card-header{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.fw-card-asside{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.fw-card-img{
  align-self: center;
  border-radius: 999px;
  width: 60px;
  height: 60px;
  margin: 10px;
}
.fw-card-user{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px 0px 10px 0px;
  color: rgb(255, 255, 255);
}
.fw-card-X-icon{
  color: rgb(0, 0, 0);
  padding: 5px;
}
.fw-card-elimFw-btn{
  cursor: pointer;
  background-color: rgb(161, 161, 161);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(133, 0, 0, 0);
  border: 1px solid rgba(146, 146, 146, 0);
  width: 100%;
  transition-property: background-color, border,box-shadow;
  transition-duration: .3s;
}
.fw-card-elimFw-btn:hover{
  background-color: rgb(165, 11, 11);
  border: rgb(255, 0, 0) solid 1px;
  box-shadow: 3px 3px 5px rgb(133, 0, 0);
}
.fw-card-plus-btn{
  color: rgb(255, 255, 255);
  padding-right: 10px;
}
.fw-card-btn-add{
  cursor: pointer;
  background-color: #3a3b3c;
  border: none;
  color: rgb(255, 255, 255);
  font-size:small;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.fw-card-btn-add:hover{
  border: 1px solid rgba(18, 167, 31, 0.603);
  background-color: rgba(18, 167, 30, 0.24);
  color: rgb(226, 209, 209);
  transition: all 0.18s ease-in;
}

.fw-card-btn-elim:hover{
  border: 1px solid rgb(117, 0, 0);
  border-color: rgb(117, 0, 0);
  background-color: rgba(117, 0, 0, 0.308);
  transition: all 0.18s ease;
}
.fw-card-date{
  background-color: #00000000;
  color: rgba(255, 255, 255, 0.233);
  border: none;
  appearance: none;
  padding-left: 0;
  width: 80px;
  align-self: center;
}
.fw-card-date::-webkit-calendar-picker-indicator {
  display: none;
}

.fanPage{
  display: flex;
  flex-direction: column;
}
.fanPage-text-bot-dwn{
  background-color: #00000000;
}
.fanPage-text-align-under{
  display: flex;
  flex-direction: column;
}
.fanPage-img{
  height: auto;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
}
.fanPage-name-title{
  font-weight: bold;
  font-size:x-large;
  padding-top: 8px;
  padding-bottom: 0;
  padding-left: 50px;
  color: #ffffff;
  text-shadow: 5px 5px #000000;
}
.fanPage-numb-followers{
  padding-left: 80px;
  color: #777777c7;
  padding-bottom: 10px;
  text-shadow: -1px 1px rgba(71, 69, 180,  0.062),-1px -1px rgba(71, 69, 180, 0.062), 1px 1px rgba(71, 69, 180,  0.062), 1px -1px rgba(71, 69, 180,  0.062);
}
.addFollow{
  display: flex;
  justify-content: space-around;
  background-color: #81818123;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px;
}
.addFollow-container-input{
  display: flex;
  flex-direction: column;
  padding-bottom: 7px;
  padding-left: 12px;
}
.addFollow-input{
  background-color: #3f3f3f;
  color: rgba(255, 255, 255, 0.774);
  border: none;
  border-radius: 10px 10px 0px 0px;
  min-width: 300px;
  height: 20px;
  outline: none;
  padding-left: 10px;
  box-shadow: -8px 5px 0px 0px rgba(53, 53, 53, 0.575);
  z-index: 1;
}
.addFollow-input-date{
  background-color: #777777;
  border: none;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  box-shadow: -8px 5px 0px 0px rgba(53, 53, 53, 0.575);
  z-index: 1;
}
.addFollow-label{
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(129, 129, 129), 0 0 1em rgb(109, 109, 109), 0 0 0.2em rgb(44, 44, 44);
  padding-bottom: 7px;
  font-weight: bold;
}
.addFollow-btn{
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0);
  border: none;
}
.addFollow-btn-icon{
  width: 50px;
  height: 50px;
  color: white;
}
.listFollow-noFollowers{
  text-align: center;
  color: aliceblue;
}
.listFollow-noFollowers:hover{
  text-shadow: 4px 4px black;
  transition: 0.1s all;
}
.addFanPage-container{
  display: flex;
  text-align: center;
  margin-top: 240px;
  padding: 10px 0;
  border: 1px solid black;
  border-radius: 0px 100px 100px 0px;
  background-color: #222222;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.541);
  animation: addFanPageAnimation 1s cubic-bezier(0, 0.18, 0.57, 0.9);
  opacity: 1;
  transition: opacity 2s;
}
.addFanPage-container-return{
  animation: addFanPageAnimation-return 1s ease;
}
@keyframes addFanPageAnimation-return {
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(-500px);
  }
}
@keyframes addFanPageAnimation {
  from{
    transform: translateX(-500px);
  }
  to{
    transform: translateX(0px);
  }
}
.addFanPage-container-btn{
  align-self: center;
}
.addFanPage-label{
  color: white;
  font-weight: bold;
}
.addFanPage-label:hover{
  text-shadow: 5px 2px black;
  transition: text-shadow 0.5s;
}
.addFanPage-input{
  color: white;
  background-color: #555555a9;
  border: none;
  outline: none;
}
.addFanPage-icon-btn{
  color: white;
}
.addFanPage-btn{
  background-color: #555555a9;
  border: none;
  border-radius: 0px 50px 50px 0px;
}
.quitAddFanPage-icon{
  color: white;
  transition: color .2s ease-in;
}
.quitAddFanPage-icon:hover{
  color: #000000;
}
.quitAddFanPage-btn{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding-right: 20px;
}
.addFanPage-btn-appear{
  cursor: pointer;
  background-color: #00000000;
  border: none;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-top: 250px;
}
.addFanPage-btn-apear-icon{
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.addFanPage-btn-apear-icon:hover{
  color: #646464;
}
.nav-bar{
  text-align: center;
  position: fixed;
  right: 0;
  top: 35vh;
}
.nav-bar-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-bar-btn-container{
  background-color: rgb(71, 71, 71);
  width: 200px;
  transition: background-color .4s ease;
}
.nav-bar-btn-container:hover{
  background-color: #000000;
}
.nav-bar-btn-top{
  border-radius: 10px 0px 0px 0px;
}
.nav-bar-btn-bottom{
  border-radius: 0px 0px 0px 10px;
}
.nav-bar-btn{
  padding: 10px 5px;
  cursor: pointer;
  width: 100%;
  background-color: #00000000;
  border: #00000000;
  color: white;
  font-style: oblique;
}
.styled-h1{
  text-align: center;
  color: white;
  background-color: #3a3b3c;
  border-radius: 15px 15px 0px 0px;
  margin: 0;
  padding: 20px 0;
  margin-top: 20px;
  text-shadow: -5px 5px 10px beige;
}