body{
  background-color: var(--bg-ligh);
}
.grid-AddFanPage-section{
  justify-self: start;
}
.nav-bar{
  text-align: center;
  position: fixed;
  right: 0;
  top: 35vh;
}
.nav-bar-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-bar-btn-container{
  background-color: rgb(71, 71, 71);
  width: 200px;
  transition: background-color .4s ease;
}
.nav-bar-btn-container:hover{
  background-color: #000000;
}
.nav-bar-btn-top{
  border-radius: 10px 0px 0px 0px;
}
.nav-bar-btn-bottom{
  border-radius: 0px 0px 0px 10px;
}
.nav-bar-btn{
  padding: 10px 5px;
  cursor: pointer;
  width: 100%;
  background-color: #00000000;
  border: #00000000;
  color: white;
  font-style: oblique;
}
.styled-h1{
  text-align: center;
  color: white;
  background-color: #3a3b3c;
  border-radius: 15px 15px 0px 0px;
  margin: 0;
  padding: 20px 0;
  margin-top: 20px;
  text-shadow: -5px 5px 10px beige;
}
